= form_for @resource do |f|
  = f.error_messages

  .field
    =f.label :path
    =f.text_field :path

  .field
    = f.label :title, 'Title of Idea'
    %br
    = f.text_field :title

  .field
    = f.label :content
    %br
    = f.text_area :content, cols: 80

  .actions
    = f.submit
