!!!
%html
  %head
    %title
      The Thinkery
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'layouts/flash'
    %header
      #decorative_bar
      %img{src:"assets/thinkerylogo.png", id:"thinkery_logo"}
      %h1
        "The best ideas on the web!"
    //= link_to('Resource Index', resources_path)
    %nav
      = render 'layouts/navlinks'
    #main_content
      = yield
